body{
    margin: 0;
    padding: 0;
    font: 14px/1.6 'Lucida Grande', helvetica, sans-serif;
}
p, ul, div{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

p{
    padding-bottom: 15px;
    line-height: 1.6;
}

a{
    color: black;
}
#header{
    padding: 10px 5%;
    background: black;
    color: white;
    margin-bottom: 25px;
    text-align: right;
}
#header p{
    line-height: 1;
    padding: 0;
}

#header a{
    color: white;
}

.content{
    margin: 0 5%;
}

#loginForm{
    padding: 10px;
    background: #eee;
}

.alert{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}
.alert-error{
    border-color: rgb(211, 143, 143);
    background-color: rgb(255, 228, 228);
    color: rgb(180, 0, 0);
}

.alert-info{
    border-color: rgb(115, 199, 121);
    background-color: rgb(212, 245, 214);
    color: rgb(31, 146, 59);
}

.lang_switcher{
    display: inline-block;
    float: left;
    line-height: 100%;

}
.lang_switcher li{
    display: inline-block;
}

.lang_switcher li a{
    color: white;
    font-size: 90%;
}

.lang_switcher .lang{
    padding-left: 20px;
    background-repeat: no-repeat;
    padding-right: 10px;

}

.lang-ru-RU{
    background: url('/images/ru-RU.png');
}

.lang-en-GB{
    background: url('/images/en-GB.png');
}